<p><%= link_to "Create Session", new_admin_agenda_path, :class => "btn btn-primary" %></p>

<div class="list-items">
  <%= render :partial => "agenda", :collection => @agendas, :as => :agenda, :locals => { :class_name => 'list-item' } %>
</div>

<br />

