<h2>Announcements</h2>

<% unless @featured.blank? %>
	<div class ="hero-unit-featured">
	  <%= render :partial => "announcement", :locals => { :announcement => @featured, :class_name => 'featured-item' } %>
	</div>
<% end %>

<br/>

<div class="list-items" id="announcements">
  <%= render :partial => "announcement", :collection => @announcements, :as => :announcement, :locals => { :class_name => 'list-item' } %>
</div>

<br />

<%= will_paginate @announcements %>


