<h1>Listing announcements</h1>

<div class ="hero-unit-featured">
  <h3>Featured Activity</h3>
</div>

<%= render :partial => "announcement", :collection => @announcements, :as => :announcement %>

<br />

