<div class="item">
  <% image_tag(@instructor.photo_url) unless @instructor.photo_url.blank? %>
  
  <% unless @instructor.firstname.blank? %>
    <h2><%= @instructor.firstname.humanize %> <%= @instructor.lastname.humanize %></h2>
  <% end %>
  <div class="body">
    <div class="body-text"><%= @instructor.description %></div>
    <p class="instructor-info"><%= @instructor.email  %></p>
    
  <div>
</div>