<ul class="nav nav-tabs nav-stacked bs-docs-sidenav affix leftnavpane">
  <li class="active_side_nav announcements">
    <a href="<%= admin_announcements_path %>">
    Announcements 
    <i class="icon-chevron-right"> </i>
    </a>      
  </li>
  <li class="agendas">
    <a href="<%= admin_agendas_path %>">
    Sessions
    <i class="icon-chevron-right"> </i>
    
    </a>
  </li>
  <li class="resources">
    <a href="<%= admin_resources_path %>">
    Resources
    <i class="icon-chevron-right"> </i>
    </a>
  </li>
  
</ul>
