<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Edit Announcements", admin_announcements_path %></li>
  <li><%= link_to "Edit Agendas",admin_agendas_path %></li>
  <li><%= link_to "Edit Instructions", admin_instructions_path %></li>
  <li><%= link_to "Settings", "#" %></li>
</ul>
