<ul class="nav nav-tabs nav-stacked bs-docs-sidenav affix span2">
  <li><%= link_to "Announcements", admin_announcements_path %></li>
  <li><%= link_to "Agendas", admin_agendas_path %></li>
  <li><%= link_to "Stand Ups (Coming Soon)", "#" %></li>
  <li><%= link_to "Resources (Coming Soon)", "#" %></li>
  <!--<li><#%= link_to "Discussions", admin_questions_path %></li>-->
  <li><a href="#">Instructors (Coming Soon)</a></li>
  <li><a href="#">Students (Coming Soon)</a></li>
  
  
  
</ul>
