<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="background-image: none; background-color: #194775;">
    <%= link_to "IT in the D", root_path, :class => "brand", :style => "margin-left: 10px" %>

    <%= render :partial => "/layouts/signin" %>
    <div class="admin_dash">Admin Dashboard</div>
  </div>
</div>

