<% if week.announcements.exists? %>
  <div> Announcements: 
    <% week.announcements.each do |announcement| %>
      <span><%= link_to announcement.title, announcement_path(announcement), :class => "tag#{rand(5)}" %></span>
    <% end %>
  </div>
<% end %>

<% if week.resources.exists? %>
  <div> Resources:
    <% week.resources.each do |resource| %>
      <span><%= link_to resource.title, resource_path(resource), :class => "tag#{rand(5)}" %></span>
    <% end %>
  </div>
<% end %>
