<h2>Sessions</h2>

<% unless @featured.blank? %>
	<div class ="hero-unit-featured">
	  <%= render :partial => "agenda", :locals => { :agenda => @featured, :class_name => 'featured-item' } %>
	</div>
<% end %>

<br/>

<div class="list-items" id="agendas">
  <%= render :partial => "agenda", :collection => @agendas, :as => :agenda, :locals => { :class_name => 'list-item' } %>
</div>

<br />

<%= will_paginate @agendas %>

