<h1>Editing announcement</h1>
<%= form_for(@announcement, :url => admin_announcement_path(@announcement), :html => {:method => :put, :multipart => true}) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

