<p><%= link_to 'Create New', new_admin_announcement_path, :class => "btn btn-primary" %></p>

<div class="list-items">
  <%= render :partial => "announcement", :collection => @announcements, :as => :announcement, :locals => { :class_name => 'list-item' } %>
</div>


<br />

