/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/***************** MAIN CONTENT ************************/

/*  Push the main content down some */

.main_content {
	padding-top: 90px;
}

.main_content h2 {
	padding-bottom: 20px;
	color: #194775;
}

.main_body {
	padding-left: 250px;
}

/***************** TOP NAV BAR *************************/


.admin_dash {
	font-size: 30px;
	margin-left: 40%;
	margin-top: 15px;
	text-transform: uppercase;
}

/***************** LEFT NAV BAR ************************/

.leftnavpane {
	background-image: none; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px lightgrey;
	-webkit-box-shadow: 5px 5px 5px lightgrey;
	box-shadow: 5px 5px 5px lightgrey;
	min-width: 220px;
	max-width: 220px;
}

.nav-tabs li {
	font-size: 16px;
	font-weight: bold;
}

.nav-tabs i {
	float: right;
}

/****************** MAIN ITEMS ******************************/

/**** FEATURED ITEM FOR THE ANNOUNCEMENTS AND SESSIONS PAGES *****/

.hero-unit-featured {
	padding: 15px;
	margin-bottom: 10px;
	height-min: 120px;
	background-color: #2F78C0; 
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: white;
	-moz-box-shadow: 5px 5px 5px lightgrey;
	-webkit-box-shadow: 5px 5px 5px lightgrey;
	box-shadow: 5px 5px 5px lightgrey;
	
}

/**** FEATURED ITEM FOR THE RESOURCE PAGE *****/

.suggested-resource-item {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #2F78C0; 
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	-moz-box-shadow: 5px 5px 5px lightgrey;
	-webkit-box-shadow: 5px 5px 5px lightgrey;
	box-shadow: 5px 5px 5px lightgrey;
}

/***** STUDENT AND INSTRUCTOR PROFILE PAGES *******/

.profile-item {
	margin-bottom: 10px;
	background-color: #C6E3F3; 
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 15px;
	-moz-box-shadow: 5px 5px 5px lightgrey;
	-webkit-box-shadow: 5px 5px 5px lightgrey;
	box-shadow: 5px 5px 5px lightgrey;
}

/***** LIST ITEMS *******/

.list-item {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #C6E3F3; /*#ECF7FD;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-left: 25px;
	-moz-box-shadow: 5px 5px 5px lightgrey;
	-webkit-box-shadow: 5px 5px 5px lightgrey;
	box-shadow: 5px 5px 5px lightgrey;
}

.item {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #C6E3F3; /*#ECF7FD;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 5px 5px 5px lightgrey;
	-webkit-box-shadow: 5px 5px 5px lightgrey;
	box-shadow: 5px 5px 5px lightgrey;
}

/***************** FEATURED AND LIST ITEMS TITLES (and A, H3, etc) *********/

.featured-item .title a, .list-item .title, .hero-unit-featured .title, .suggested-resource-item .title {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.5;
	
}

.suggested-resource-item, .suggested-resource-item h3, .suggested-resource-item .title, .suggested-resource-item a, .hero-unit-featured a, .hero-unit-featured h3, .hero-unit-featured .title a, .hero-unit-featured .attachment a, .hero-unit-featured .tag_cloud a  {
	color: white;
}

.list-item .body-text p, .hero-unit-featured .body-text p, .profile-item .body-text, .suggested-resource-item .body-text  {
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.list-item .instructor-info, .item .instructor-info, .hero-unit-featured .instructor-info, .profile-item .email-info,  .suggested-resource-item .email-info {
	font-size: 14px;
	font-style: italic;
	border-top: 1px grey dashed;
	padding-top: 10px;
	
}

.featured-item .instructor-info, .suggested-resource-item .instructor-info {
	border-top: 1px white dashed;
	padding-top: 10px;
	font-style: italic;
	
	
}

.body-text {
	text-indent: 20px;
}

.item .body-text p {
	font-size: 16px;
}

.attachment {
	font-size: 14px;
	font-style: italic;
	padding-bottom: 10px;
}

.action_links {
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 20px;
}

.search-bar {
	margin-left: 30%; 
	width: 400px;
}


/****************** TAGS *********************/


.tag_cloud a.tag1 { font-size: 1.5em; font-weight: 600; }
.tag_cloud a.tag2 { font-size: 1.6em; font-weight: 700; }
.tag_cloud a.tag3 { font-size: 1.7em; font-weight: 800; }
.tag_cloud a.tag4 { font-size: 1.8em; font-weight: 900; }


.tag_cloud {
	font-style: italic;
}

.tag_cloud div {
	margin-top: 10px;
}


/************ PROFILE ITEM *****************************/


.profile-item img {
	padding-right: 10px;
}

.profile-item .name-info {
	font-weight: bold;
	font-size: 18px;
}

.profile-item .profile-text {
	padding-left: 120px;
}







