/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.list-item {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #ECF7FD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-left: 25px;
	
}


.hero-unit-featured {
	padding: 15px;
	margin-bottom: 10px;
	height-min: 120px;
	background-color: #F8F8F8;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.leftnavpane {
	background-color: #F8F8F8;
	height: 100%;
	width: 178px;
	padding: 60px;
}

.list-item .title, .hero-unit-featured .title {
	font-weight: bold;
	font-size: 24px;
}

.list-item .body-text p, .hero-unit-featured .body-text p, .profile-item .body-text  {
	font-size: 18px;
	line-height: 1.5;
}

.list-item .instructor-info, .item .instructor-info, .hero-unit-featured .instructor-info, .profile-item .email-info {
	font-size: 14px;
	font-style: italic;
	
}

.item {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #ECF7FD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.profile-item {
	margin-bottom: 10px;
	background-color: #ECF7FD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 15px;
}

.profile-item img {
	padding-right: 10px;
}

.profile-item .name-info {
	font-weight: bold;
	font-size: 18px;
}

.profile-item .profile-text {
	padding-left: 120px;
}

.item .body-text p {
	font-size: 16px;
	line-height: 1.5;
}


.admin_dash {
	font-size: 30px;
	padding-top: 20px;
	margin-left: 40%;
	margin-right: 10%;
	text-transform: uppercase;
}

.tag_cloud {
	font-style: italic;
}
