/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.list-item {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #C6E3F3; /*#ECF7FD;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-left: 25px;
	
}

.suggested-resource-item {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #2F78C0; /*#F8F8F8;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}


.hero-unit-featured {
	padding: 15px;
	margin-bottom: 10px;
	height-min: 120px;
	background-color: #2F78C0; /*#F8F8F8;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: white;
}


.hero-unit-featured a, .hero-unit-featured h3, .hero-unit-featured .title a, .hero-unit-featured .attachment a, .hero-unit-featured .tag_cloud a {
	color: white;
}

.tag_cloud a.tag1 { font-size: 1.0em; font-weight: 400; }
.tag_cloud a.tag2 { font-size: 1.2em; font-weight: 500; }
.tag_cloud a.tag3 { font-size: 1.6em; font-weight: 600; }
.tag_cloud a.tag4 { font-size: 1.8em; font-weight: 700; }
.tag_cloud a.tag5 { font-size: 2.0em; font-weight: 800; }

.tag_cloud {
	padding-left: 20px;
}

.suggested-resource-item, .suggested-resource-item h3, .suggested-resource-item .title, .suggested-resource-item a {
	color: white;
}


.featured-item .title a {
	font-size: 30px;
}


.leftnavpane {
	background-color: #F8F8F8;
	height: 100%;
	width: 178px;
	padding: 60px;
}

.list-item .title, .hero-unit-featured .title, .suggested-resource-item .title {
	font-weight: bold;
	font-size: 24px;
}

.list-item .body-text p, .hero-unit-featured .body-text p, .profile-item .body-text, .suggested-resource-item .body-text  {
	font-size: 18px;
	line-height: 1.5;
	margin-top: 25px;
	margin-bottom: 25px;
}

.list-item .instructor-info, .item .instructor-info, .hero-unit-featured .instructor-info, .profile-item .email-info,  .suggested-resource-item .email-info {
	font-size: 14px;
	font-style: italic;
	border-top: 1px grey dashed;
	padding-top: 10px;
	
}

.featured-item .instructor-info, .suggested-resource-item .instructor-info {
	border-top: 1px white dashed;
	padding-top: 10px;
	font-style: italic;
	
	
}



.nav-tabs li {
	font-size: 16px;
	font-weight: bold;
}


.main_content {
	padding-top: 90px;
}

.main_content h1 {
	font-size: 45px;
	text-transform: uppercase;
	padding-bottom: 40px;
	color: #194775;
}

.item {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #C6E3F3; /*#ECF7FD;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.profile-item {
	margin-bottom: 10px;
	background-color: #C6E3F3; /*#ECF7FD;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 15px;
}

.profile-item img {
	padding-right: 10px;
}

.profile-item .name-info {
	font-weight: bold;
	font-size: 18px;
}

.profile-item .profile-text {
	padding-left: 120px;
}

.item .body-text p {
	font-size: 16px;
	line-height: 1.5;
}


.admin_dash {
	font-size: 30px;
	padding-top: 20px;
	margin-left: 40%;
	margin-right: 10%;
	text-transform: uppercase;
}

.tag_cloud {
	font-style: italic;
}

.attachment {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

.action_links {
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 20px;
}
