<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Announcements", announcements_path %></li>
  <li><%= link_to "Instructions", instructions_path,  :tabindex => "-1" %></li>
  <li><%= link_to "Discussions", questions_path,  :tabindex => "-1" %></li>
  <li><%= link_to "Resources", resources_path,  :tabindex => "-1" %></li>
  <li><a href="#">Instructors</a></li>
  <li><a href="#">Students</a></li>
  
  
  
</ul>
