<ul class="nav nav-tabs nav-stacked bs-docs-sidenav affix span2">
  <li><%= link_to "Announcements", announcements_path %></li>
  <li><%= link_to "Agendas", agendas_path %></li>
  <li><%= link_to "Stand Ups", "#" %></li>
  <!--<li><#%= link_to "Discussions", questions_path %></li>-->
  <li><%= link_to "Resources", resources_path %></li>
  <li><a href="#">Instructors</a></li>
  <li><a href="#">Students</a></li>
  
  
  
</ul>
